<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h4 class="text-uppercase fs-3 text-end">¡Bienvenido {{user}}! <a href="" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i> Cerrar Session</a></h4>

        </div>
    </div>
    <div class="row mt-4 text-end">
        <div class="col"></div>
           <p class="text-uppercase fs-4 mx-1">Agregar Novedad  
           <a href=""><i class="bi bi-plus-square btn btn-success"></i></a></p>
        </div>
    </div>

<div class="row">
    <div class="col mx-5">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      
    </tr>
    
  </tbody>
</table>
    </div>
</div>




</div>