<section class="container-fluid pt-4 fondoserv boder-3 border-top" id="servicios">
    <h2 class="fs-1 p-3 text-center text-decoration-underline margentop">Servicios</h2>
    <div class="row">
        <div class="col-lg-4 col-md-12 servicios">
            <img src="images/iluminacion int.jpg" alt="interior" class="servimg">
            <div class="serv">
                <h3 class="titulos">Iluminación Interior</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique qui iusto commodi unde
                    nesciunt
                    reprehenderit, reiciendis accusamus obcaecati harum ipsum natus sed officia, laboriosam quia numquam
                    enim
                    officiis! Temporibus, corrupti quia eos, et veniam reprehenderit vitae minus dicta suscipit rerum
                    velit ut
                    quasi. Similique possimus eius corrupti nobis ex ipsa!
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 servicios">
            <img src="images/iluminacion ext.jpg" alt="exterior" class="servimg">
            <div class="serv">
                <h3 class="titulos">Iluminación Exterior</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique qui iusto commodi unde
                    nesciunt
                    reprehenderit, reiciendis accusamus obcaecati harum ipsum natus sed officia, laboriosam quia numquam
                    enim
                    officiis! Temporibus, corrupti quia eos, et veniam reprehenderit vitae minus dicta suscipit rerum
                    velit ut
                    quasi. Similique possimus eius corrupti nobis ex ipsa!
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 servicios">
            <img src="images/instalacionelectricas.jpg" alt="todos" class="servimg" width="400" height="400">
            <div class="serv">
                <h3 class="titulos">Instalaciones Eléctricas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique qui iusto commodi unde
                    nesciunt
                    reprehenderit, reiciendis accusamus obcaecati harum ipsum natus sed officia, laboriosam quia numquam
                    enim
                    officiis! Temporibus, corrupti quia eos, et veniam reprehenderit vitae minus dicta suscipit rerum
                    velit ut
                    quasi. Similique possimus eius corrupti nobis ex ipsa!
                </p>
            </div>
        </div>
    </div>


    <h2 class="fs-1 p-3 mt-3 text-center text-decoration-underline">Contamos con prefesionales capacitados
        para ayudarte a resolver
        tus necesidades en:</h2>
    <div class="row d-flex flex-nowrap pe-5 ps-2 mt-5">
        <div class="col-lg-3 col-md-6 servicio">
            <img src="images/trabajador.jfif" alt="instalaciones electricas" class="galerias">
            <h3 class="titulos">Instalación de Luminarias</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, totam! Facere consectetur esse ea delectus enim optio, consequatur rerum alias excepturi, consequuntur quam velit dolorem animi maxime laudantium dolore! Doloremque.
            Recusandae dicta inventore quasi porro velit, eaque corrupti esse sequi blanditiis quisquam enim eligendi vero iure tempora aperiam exercitationem dolor quam! Delectus asperiores rerum pariatur repellat, neque libero ab impedit?</p>
        </div>
        <div class="col-lg-3 col-md-6 servicio">
            <img src="images/trabajador2.jfif" alt="controlde instalaciones" class="galerias">
            <h3 class="titulos">Control de Instalaciones Eléctricas</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias tenetur aliquid ipsa suscipit? Cupiditate, culpa quo praesentium accusantium, iusto assumenda omnis, quibusdam molestias aliquam voluptatibus odit possimus facere consequuntur numquam.
           Saepe illum deserunt est consequuntur fugit impedit deleniti repellat unde quibusdam velit magni eos necessitatibus cum culpa ad dolore voluptatum ut quasi eum, animi reprehenderit. Sunt necessitatibus quae commodi quisquam!</p>
        </div>
        <div class="col-lg-3 col-md-6 servicio">
            <img src="images/trabajador3.jfif" alt="instalaciones industriales" class="galerias">
            <h3 class="titulos">Instalaciones Eléctricas Industriales</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolorem rem facilis sunt, assumenda maiores odit nostrum amet laborum repellendus quas delectus, obcaecati ipsum magnam rerum doloribus harum. Id, nisi.
            Aperiam illo veniam mollitia assumenda sequi earum voluptatem tempora, velit porro, facilis quam laborum delectus debitis nemo qui cumque sint voluptates alias molestias reiciendis iste! Architecto quo reiciendis necessitatibus perspiciatis?</p>
        </div>
        <div class="col-lg-3 col-md-6 servicio">
            <img src="images/trabajador4.jfif" alt="cableados estructurales" class="galerias">
            <h3 class="titulos">Cableados Estructurales</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda architecto quaerat temporibus quis ex maiores dicta ducimus atque animi nostrum omnis facere expedita, accusamus dolorum tempora aperiam corporis. Natus, quod.
           Rerum autem doloremque quod voluptatibus praesentium, provident non qui maxime, sint assumenda odit architecto alias repudiandae eligendi quam fugiat incidunt voluptatum, modi ipsum repellendus similique quia? Quia quos incidunt laudantium.</p>
        </div>
    </div>
</section>

<!-- =============================GALERIA============================ -->

<section class="container-fluid fondogal border-top boder-3" id="galeria">
    <h2 class="fs-1 p-3 text-center text-decoration-underline margentop">Galería</h2>
    <div class="tarjeta pb-5 pt-4">
        <div class="imagenes">
            <img src="images/cables3.jpg" alt="" class="tarjetas" height="350">
        </div>
        <div class="imagenes">
            <img src="images/cables7.jpg" alt="" class="tarjetas">
        </div>
        <div class="imagenes">
            <img src="images/cables8.jpg" alt="" class="tarjetas">
        </div>
        <div class="imagenes">
            <img src="images/cables11.jpg" alt="" class="tarjetas">
        </div>
        <div class="imagenes">
            <img src="images/cables12.jpg" alt="" class="tarjetas">
        </div>
        <div class="imagenes">
            <img src="images/cables9.jpg" alt="" class="tarjetas">
        </div>
    </div>

</section>

<!-- ==============================NOVEDADES===================== -->

<section class="container-fluid pt-1 fondonov border-top boder-3" id="novedades">
    <h2 class="fs-1 p-3 text-center text-decoration-underline">Novedades</h2>
    <div class="row">
        <div class="col-3 d-flex justify-content-around">
            <div class="card border-dark mb-3 novedad" style="max-width: 18rem;">
                <div class="card-header">
                    <h5>Novedad</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magnam eius
                        quas
                        eligendi, facere quam recusandae quia consequuntur ut illo facilis rem error repellendus autem
                        blanditiis
                        voluptas. Praesentium alias aliquam numquam odio debitis fugit labore. Aliquid dolore id eveniet
                        error
                        doloremque nemo. Tempora deserunt quisquam error quae obcaecati sequi blanditiis!</p>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-around">
            <div class="card border-dark mb-3 novedad" style="max-width: 18rem;">
                <div class="card-header">
                    <h5>Novedad</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magnam eius
                        quas
                        eligendi, facere quam recusandae quia consequuntur ut illo facilis rem error repellendus autem
                        blanditiis
                        voluptas. Praesentium alias aliquam numquam odio debitis fugit labore. Aliquid dolore id eveniet
                        error
                        doloremque nemo. Tempora deserunt quisquam error quae obcaecati sequi blanditiis!</p>
                </div>
            </div>
        </div>
         <div class="col-3 d-flex justify-content-around">
            <div class="card border-dark mb-3 novedad" style="max-width: 18rem;">
                <div class="card-header">
                    <h5>Novedad</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magnam eius
                        quas
                        eligendi, facere quam recusandae quia consequuntur ut illo facilis rem error repellendus autem
                        blanditiis
                        voluptas. Praesentium alias aliquam numquam odio debitis fugit labore. Aliquid dolore id eveniet
                        error
                        doloremque nemo. Tempora deserunt quisquam error quae obcaecati sequi blanditiis!</p>
                </div>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-around">
            <div class="card border-dark mb-3 novedad" style="max-width: 18rem;">
                <div class="card-header">
                    <h5>Novedad</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magnam eius
                        quas
                        eligendi, facere quam recusandae quia consequuntur ut illo facilis rem error repellendus autem
                        blanditiis
                        voluptas. Praesentium alias aliquam numquam odio debitis fugit labore. Aliquid dolore id eveniet
                        error
                        doloremque nemo. Tempora deserunt quisquam error quae obcaecati sequi blanditiis!</p>
                </div>
            </div>
        </div>
        
    </div>
    
</section>

<!-- =================================CONTACTO=========================== -->

<section class="container-fluid pt-4 fondocont border-top boder-3" id="contacto">
    <h2 class="fs-1 p-3 text-center text-decoration-underline margentop">Contacto</h2>
    <form action="">
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="nombre" class="form-label text-white text-decoration-underline">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label text-white text-decoration-underline">Apellido:</label>
                <input type="text" class="form-control" id="apellido" placeholder="Apellido" required>
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label text-white text-decoration-underline">Teléfono:</label>
                <input type="text" class="form-control" id="telefono" placeholder="Teléfono" required>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="email" class="form-label text-white text-decoration-underline">E-mail:</label>
                <input type="email" class="form-control" id="email" placeholder="E-mail" required>
                <label for="comentarios" class="text-white mt-4 text-decoration-underline">Comentarios:</label>
                <textarea class="form-control text-dark" placeholder="Deje su comentario aquí"
                    id="comentarios"></textarea>

                <button type="submit" class="mt-3 p-3 bg-primary boton"><span>Enviar Mensaje</span></button>
            </div>

        </div>
        </form>

    </div>
    <div class="row d-flex flex-nowrap">
        <div class="col-6 pe-4 mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18398.9216010231!2d-68.32961155!3d-54.799912400000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1653770618747!5m2!1ses-419!2sar"
                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-6">
            <p class="parrafos"><span class="text-decoration-underline text-white">Teléfono:</span> (23326)-234254</p>
            <p class="parrafos"><span class="text-decoration-underline text-white">Dirección:</span> Calle 2347</p>
            <p class="parrafos"><span class="text-decoration-underline text-white">Email:</span> lumen@email.com</p>
            <p class="parrafos"><span class="text-decoration-underline text-white">Nuestras redes:</span>
                <a href="#" class="mt-4 ms-3 mx-2 pt-1 text-dark"><span class="icono text-white"
                        data-tooltip="Facebook"><i class="bi bi-facebook"></i></span></a>
                <a href="#" class="mt-4 mx-2 pt-1 text-dark"><span class="icono text-white" data-tooltip="Instagram"><i
                            class="bi bi-instagram"></i></span></a>
                <a href="#" class="mt-4 mx-2 pt-1 text-dark"><span class="icono text-white" data-tooltip="Twitter"><i
                            class="bi bi-twitter"></i></span></a>
                <a href="#" class="mt-4 mx-2 pt-1 text-dark"><span class="icono text-white" data-tooltip="LinkedIn"><i
                            class="bi bi-linkedin"></i></span></a>
            </p>
        </div>
    </div>
</section>